html, body {
	margin: 0;
	padding: 0;
}
body {
	font:normal normal 16px/1em 'Arial', sans-serif;
}


h1,h2,h3,h4,h5,h6 {
	color:#FFAA00;
}
p {
	color:#FFAA00;	
}
a {
	color:#FFAA00;
}

.wrapper {
	width: 85%;

	margin: 1.5em auto;
	padding: 2em;

	background: #30394D;
}